Q1.

In [1]:
#For loops are used when you have a known number of iterations or
#when you want to iterate through a sequence (list, tuple, string, etc.)
#to perform an action for each item in the sequence.

#Example:

# print the numbers 0 to 9
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

While loops are used when you want to keep executing a block of code as long as a certain condition is met.

Example:

In [2]:
# print the numbers 0 to 9
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

Q2.

In [5]:
#sum and product of first 10 natural no.s 
#using for loop
sum=0
product=1
for i in range(1,11,1):
    sum=sum+i
    product=product*i
print("sum is ",sum)
print("product is ",product)

sum is  55
product is  3628800

In [6]:
#using while loop
i=1
sum=0
product=1
while i<=10:
    sum=sum+i
    product=product*i
    i=i+1
print("sum is",sum)
print("product is",product)

sum is 55
product is 3628800

Q3.

In [9]:
electricityConsumed=int(input("Enter electricity consumed"))
if electricityConsumed<=100:
    chargeAmount=electricityConsumed*4.5
elif electricityConsumed<=200:
    chargeAmount=100*4.5+(electricityConsumed-100)*6
elif electricityConsumed<=300:
    chargeAmount=100*4.5+100*6+(electricityConsumed-200)*10
else:
    chargeAmount=100*4.5+100*6+100*10+(electricityConsumed-300)*20
print("your bill is of RS",chargeAmount)

Enter electricity consumed 310

your bill is of RS 2250.0

In [ ]:
Q4.

In [3]:
l=list(range(1,101))
l1=[]
for i in l:
    if i**3%4==0 or i**3%5==0:
        l1.append(i**3)
l1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

Q5.

In [11]:
string="I want to become a data scientist"
vowels="aeiouAEIOU"
count=0
for i in string:
    if i in vowels:
        count=count+1
print("the total no. vowels present in the given string is",count)

the total no. vowels present in the given string is 12

In [15]:
#works the same
string="I want to become a data scientist"
vowels="aeiouAEIOU"
len(list(filter(lambda s: s in vowels,string)))

12