Q1. List any five functions of the pandas library with execution.

In [ ]:
#read_csv(): This function is used to read a CSV file and create a DataFrame object.

#head(): This function is used to display the first few rows of a DataFrame.

g#roupby(): This function is used to group rows of a DataFrame based on one or more columns.

f#illna(): This function is used to replace missing values (NaN) in a DataFrame with a specified value.

#plot(): This function is used to create plots from data in a DataFrame.

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [20]:
import pandas as pd
def re_index(df):
    new_index=pd.RangeIndex(start=1,stop=len(df)*2,step=2)
    return df.reindex(new_index)

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [40]:
def values_sum(df):
    return df['Values'].rolling(window=3).sum()[2]

df=pd.DataFrame({'Values':[10, 20,30, 40, 50]})
values_sum(df)

60.0

In [41]:
#alternative
def cal_sum(df):
    sum=0
    for i in range(3):
        sum=sum+df['Values'][i]
    print("sum is ",sum)
cal_sum(df)

sum is  60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [47]:
def word_counter(df1):
    df1['Word_Count']=df1['Text'].apply(lambda x:len(x.split()))
df1=pd.DataFrame({'Text':['Which function of pandas do we use to read an excel file','number of words in each row','my name is viraj']})
word_counter(df1)
df1

                                                Text  Word_Count
0  Which function of pandas do we use to read an ...          12
1                        number of words in each row           6
2                                   my name is viraj           4

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size and DataFrame.shape are two different attributes of a pandas DataFrame object that provide different information about the DataFrame:

DataFrame.size: This attribute returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and columns. For example, if a DataFrame has 5 rows and 3 columns, df.size will return 15.

DataFrame.shape: This attribute returns a tuple containing the number of rows and columns in the DataFrame, respectively. For example, if a DataFrame has 5 rows and 3 columns, df.shape will return (5, 3).

In summary, DataFrame.size returns the total number of elements in the DataFrame, while DataFrame.shape returns the number of rows and columns as a tuple. Both attributes can be useful in different contexts depending on the information you need about the DataFrame.

Q6. Which function of pandas do we use to read an excel file?

read_excel() function is used to read a excel file

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

In [58]:
def username(df2):
    df2['username']=df2['Email'].apply(lambda x:x.split('@')[0])
    
df2=pd.DataFrame({'Email':['usrname@domain.com','virajsharma145@gmail.com']})
username(df2)
df2

                      Email        username
0        usrname@domain.com         usrname
1  virajsharma145@gmail.com  virajsharma145

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1  8 2 7
4  9 1 2

In [62]:
def new_df(df3):
    return df3[(df3['A']>5)&(df3['B']<10)]
    

df3=pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})
new_df(df3)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [84]:
def cal_details(df4):
    mean=df4['Values'].mean()
    median=df4['Values'].median()
    std=df4['Values'].std()
    print('mean:',mean,'median:',median,'standard deviation:',std)
    
    
import numpy as np
values=np.random.randint(1,10,10)
df4=pd.DataFrame({'Values':values})
cal_details(df4)

mean: 4.5 median: 5.0 standard deviation: 2.6352313834736494

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [90]:
def MovingAverage(df5):
    df5['MovingAverage']=df5['Sales'].rolling(window=7).mean()
    return df5
df5=pd.DataFrame({'Sales':[2,3,4,5,6,7,8,45,64,564,33,32,23]})
MovingAverage(df5)

    Sales  MovingAverage
0       2            NaN
1       3            NaN
2       4            NaN
3       5            NaN
4       6            NaN
5       7            NaN
6       8       5.000000
7      45      11.142857
8      64      19.857143
9     564      99.857143
10     33     103.857143
11     32     107.571429
12     23     109.857143

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
  Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:
  Date        Weekday
0 2023-01-01  Sunday
1 2023-01-02  Monday
2 2023-01-03  Tuesday
3 2023-01-04  Wednesday
4 2023-01-05  Thursday
The function should return the modified DataFrame.

In [98]:
def Weekday(df):
    df['Weekday']=df['Date'].dt.day_name()
    return df
date=pd.date_range(start='2023-01-01',end='2023-01-05')
df6=pd.DataFrame({'Date':date})
Weekday(df6)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [114]:
def row(df):
    df['Date']=pd.to_datetime(df['Date'])
    return df[(df['Date']>='2023-01-01')&(df['Date']<='2023-01-31')]
df = pd.DataFrame({'Date': ['2022-12-31', '2023-01-01', '2023-01-15', '2023-01-31', '2023-02-15']})
print("Original DataFrame:")
print(df)
df = row(df)
print("\nDataFrame with January dates only:")
print(df)

Original DataFrame:
         Date
0  2022-12-31
1  2023-01-01
2  2023-01-15
3  2023-01-31
4  2023-02-15

DataFrame with January dates only:
         Date
1  2023-01-01
2  2023-01-15
3  2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

In [99]:
import pandas as pd